* {
    all: unset;
    font-family: "Nerd Font Hack";
    font-weight: bold;
    border-radius: 10px;
}

.modules-left,
.modules-center,
.modules-right {
    min-height: 32px;
    margin: 10px 10px 0 10px;
}

tooltip {
    opacity: 0.95;
    background-color: #1a1b26;
    color: #c0caf5;
    font-size: 14px;
    padding: 0 8px 0 8px;
    border: 1px solid #0db9d7;
}

#window,
#clock,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#battery,
#tray {
    opacity: 0.95;
    background-color: #1a1b26;
    color: #c0caf5;
    font-size: 16px;
    padding: 0 8px 0 8px;
    border: 1px solid #0db9d7;
}

#workspaces {
    opacity: 0.95;
    background-color: #1a1b26;
    border: 1px solid #0db9d7;
}

#workspaces button {
    color: #565f89;
    font-size: 16px;
    padding: 0 8px 0 8px;
    transition: all 0.5s;
}

#workspaces button.visible {
    color: #c0caf5;
}

#workspaces button.active {
    background-color: #c0caf5;
    color: #1a1b26;
}

#workspaces button.urgent {
    color: #f7768e;
}

window#waybar.empty #window {
    all: unset;
}

#battery.warning {
    color: #e0af68;
}

#battery.critical {
    color: #f7768e;
}

#tray menu {
    background-color: #1a1b26;
    padding: 8px;
    border: 1px solid #0db9d7;
}

#tray menuitem {
    color: #c0caf5;
    font-size: 14px;
    transition: all 0.25s;
}

#tray menuitem:hover {
    color: #565f89;
}
