{
    "floatingWindows": [
    ],
    "mainWindowGeometry": "AdnQywADAAAAAAALAAAANQAAB3QAAAQsAAAACwAAADUAAAd0AAAELAAAAAAAAAAAB4AAAAALAAAANQAAB3QAAAQs",
    "mainWrapper": {
        "geometry": "AdnQywADAAAAAAAAAAAAAAAAB2kAAAPAAAAAAAAAAAAAAAdpAAADwAAAAAAAAAAAB4AAAAAAAAAAAAAAB2kAAAPA",
        "splitter": {
            "items": [
                {
                    "currentIndex": 0,
                    "objects": [
                        {
                            "data": null,
                            "name": "timelineBar"
                        }
                    ],
                    "type": "area"
                },
                {
                    "items": [
                        {
                            "items": [
                                {
                                    "currentIndex": 0,
                                    "objects": [
                                        {
                                            "data": {
                                                "columns": [
                                                    {
                                                        "hidden": false,
                                                        "index": 2,
                                                        "name": "Name",
                                                        "size": 200
                                                    },
                                                    {
                                                        "hidden": false,
                                                        "index": 0,
                                                        "name": "EID",
                                                        "size": 80
                                                    },
                                                    {
                                                        "hidden": true,
                                                        "index": 1,
                                                        "name": "Action #",
                                                        "size": 60
                                                    },
                                                    {
                                                        "hidden": true,
                                                        "index": 3,
                                                        "name": "Duration (µs)",
                                                        "size": 80
                                                    }
                                                ]
                                            },
                                            "name": "eventBrowser"
                                        }
                                    ],
                                    "type": "area"
                                },
                                {
                                    "currentIndex": 0,
                                    "objects": [
                                        {
                                            "data": null,
                                            "name": "apiInspector"
                                        }
                                    ],
                                    "type": "area"
                                }
                            ],
                            "state": "AAAA/wAAAAEAAAACAAABUAAAAKQA/////wEAAAACAA==",
                            "type": "splitter"
                        },
                        {
                            "currentIndex": 0,
                            "objects": [
                                {
                                    "data": null,
                                    "name": "capDialog"
                                },
                                {
                                    "data": {
                                        "backCol": "#000000",
                                        "checker": true,
                                        "columns": [
                                            {
                                                "hidden": false
                                            },
                                            {
                                                "hidden": false
                                            },
                                            {
                                                "hidden": false
                                            },
                                            {
                                                "hidden": false
                                            },
                                            {
                                                "hidden": false
                                            },
                                            {
                                                "hidden": false
                                            }
                                        ],
                                        "floatingWindows": [
                                        ],
                                        "mainWrapper": {
                                            "geometry": "AdnQywADAAAAAAAAAAAAFAAABhwAAAL4AAAAAAAAABQAAAYcAAAC+AAAAAAAAAAAB4AAAAAAAAAAFAAABhwAAAL4",
                                            "splitter": {
                                                "items": [
                                                    {
                                                        "currentIndex": 0,
                                                        "objects": [
                                                            {
                                                                "data": null,
                                                                "name": "renderContainer"
                                                            }
                                                        ],
                                                        "type": "area"
                                                    },
                                                    {
                                                        "items": [
                                                            {
                                                                "currentIndex": 1,
                                                                "objects": [
                                                                    {
                                                                        "data": null,
                                                                        "name": "inputThumbs"
                                                                    },
                                                                    {
                                                                        "data": null,
                                                                        "name": "outputThumbs"
                                                                    }
                                                                ],
                                                                "type": "area"
                                                            },
                                                            {
                                                                "currentIndex": 0,
                                                                "objects": [
                                                                    {
                                                                        "data": null,
                                                                        "name": "pixelContextLayout"
                                                                    }
                                                                ],
                                                                "type": "area"
                                                            }
                                                        ],
                                                        "state": "AAAA/wAAAAEAAAACAAABaAAAAJQA/////wEAAAACAA==",
                                                        "type": "splitter"
                                                    }
                                                ],
                                                "state": "AAAA/wAAAAEAAAACAAAB3AAAAJ8A/////wEAAAABAA==",
                                                "type": "splitter"
                                            }
                                        },
                                        "toolWindowManagerStateFormat": 1
                                    },
                                    "name": "textureViewer"
                                },
                                {
                                    "data": {
                                        "type": "D3D11"
                                    },
                                    "name": "pipelineViewer"
                                },
                                {
                                    "data": {
                                        "axisMappingIndex": 0,
                                        "floatingWindows": [
                                        ],
                                        "mainWrapper": {
                                            "geometry": "AdnQywADAAAAAAAAAAAAFAAAAGMAAAAxAAAAAAAAABQAAABjAAAAMQAAAAAAAAAAB4AAAAAAAAAAFAAAAGMAAAAx",
                                            "splitter": {
                                                "items": [
                                                    {
                                                        "items": [
                                                            {
                                                                "currentIndex": 0,
                                                                "objects": [
                                                                    {
                                                                        "data": null,
                                                                        "name": "vsinData"
                                                                    }
                                                                ],
                                                                "type": "area"
                                                            },
                                                            {
                                                                "currentIndex": 0,
                                                                "objects": [
                                                                    {
                                                                        "data": null,
                                                                        "name": "vsoutData"
                                                                    },
                                                                    {
                                                                        "data": null,
                                                                        "name": "gsoutData"
                                                                    }
                                                                ],
                                                                "type": "area"
                                                            }
                                                        ],
                                                        "state": "AAAA/wAAAAEAAAACAAABQAAAAUAA/////wEAAAABAA==",
                                                        "type": "splitter"
                                                    },
                                                    {
                                                        "currentIndex": 0,
                                                        "objects": [
                                                            {
                                                                "data": null,
                                                                "name": "outputTabs"
                                                            }
                                                        ],
                                                        "type": "area"
                                                    }
                                                ],
                                                "state": "AAAA/wAAAAEAAAACAAAA7gAAApMA/////wEAAAACAA==",
                                                "type": "splitter"
                                            }
                                        },
                                        "toolWindowManagerStateFormat": 1,
                                        "xAxisMapping": [
                                            1,
                                            0,
                                            0
                                        ],
                                        "yAxisMapping": [
                                            0,
                                            1,
                                            0
                                        ],
                                        "zAxisMapping": [
                                            0,
                                            0,
                                            1
                                        ]
                                    },
                                    "name": "meshPreview"
                                }
                            ],
                            "type": "area"
                        }
                    ],
                    "state": "AAAA/wAAAAEAAAACAAABQAAABiUA/////wEAAAABAA==",
                    "type": "splitter"
                }
            ],
            "state": "AAAA/wAAAAEAAAACAAAAdgAAA8gA/////wEAAAACAA==",
            "type": "splitter"
        }
    },
    "rdocLayoutData": 1,
    "toolWindowManagerStateFormat": 1
}
