{
    "AllowGlobalHook": false,
    "AllowProcessInject": false,
    "AlwaysLoad_Extensions": [
    ],
    "AlwaysReplayLocally": false,
    "Analytics_ManualCheck": false,
    "Analytics_TotalOptOut": true,
    "Android_JDKPath": "",
    "Android_MaxConnectTimeout": 30,
    "Android_SDKPath": "",
    "BufferFormatter_SavedFormats": [
    ],
    "CheckUpdate_AllowChecks": false,
    "CheckUpdate_CurrentVersion": "",
    "CheckUpdate_LastUpdate": "2012-06-27T00:00:00.000",
    "CheckUpdate_UpdateAvailable": false,
    "CheckUpdate_UpdateResponse": "",
    "Comments_ShowOnLoad": true,
    "ConfigSettings": {
        "modern.config.ported": true
    },
    "CrashReport_EmailAddress": "",
    "CrashReport_EmailNagged": false,
    "CrashReport_LastOpenedCapture": "",
    "CrashReport_ReportedBugs": [
    ],
    "CrashReport_ShouldRememberEmail": true,
    "DefaultCaptureSaveDirectory": "",
    "DefaultReplayOptions": {
        "apiValidation": true,
        "forceGPUDeviceID": 0,
        "forceGPUDriverName": "",
        "forceGPUVendor": 0,
        "optimisation": 2
    },
    "DegradedCapture_LastUpdate": "2015-01-01T00:00:00.000",
    "EventBrowser": {
        "current": "$action()",
        "filters": [
            [
                "Default",
                "$action()"
            ],
            [
                "Actions and Barriers",
                "$action() Barrier"
            ],
            [
                "Hide Copies & Clears",
                "$action() -Copy -Clear"
            ]
        ],
        "version": 2
    },
    "EventBrowser_AddFake": true,
    "EventBrowser_ApplyColors": true,
    "EventBrowser_ColorEventRow": true,
    "EventBrowser_TimeUnit": 2,
    "ExternalTool_RGPIntegration": false,
    "ExternalTool_RadeonGPUProfiler": "",
    "Font_Family": "Hack Nerd Font",
    "Font_GlobalScale": 1,
    "Font_MonoFamily": "Hack Nerd Font Mono",
    "Font_PreferMonospaced": true,
    "Formatter_MaxFigures": 5,
    "Formatter_MinFigures": 2,
    "Formatter_NegExp": 5,
    "Formatter_OffsetSizeDisplayMode": 0,
    "Formatter_PosExp": 7,
    "LastCaptureExe": "",
    "LastCaptureFilePath": "",
    "LastCapturePath": "",
    "LastFileBrowsePath": "",
    "LocalProxyAPI": -1,
    "RecentCaptureFiles": [
    ],
    "RecentCaptureSettings": [
    ],
    "RemoteHostList": [
        {
            "friendlyName": "",
            "hostname": "localhost",
            "lastCapturePath": "",
            "runCommand": ""
        }
    ],
    "ShaderProcessors": [
        {
            "args": "",
            "executable": "spirv-dis",
            "input": 3,
            "name": "spirv-dis",
            "output": 4,
            "tool": 2
        },
        {
            "args": "",
            "executable": "glslangValidator",
            "input": 2,
            "name": "glslang (GLSL)",
            "output": 3,
            "tool": 3
        },
        {
            "args": "",
            "executable": "glslangValidator",
            "input": 5,
            "name": "glslang (HLSL)",
            "output": 3,
            "tool": 4
        },
        {
            "args": "",
            "executable": "spirv-as",
            "input": 4,
            "name": "spirv-as",
            "output": 3,
            "tool": 5
        },
        {
            "args": "",
            "executable": "glslangValidator",
            "input": 2,
            "name": "glslang (GLSL to OpenGL SPIR-V)",
            "output": 7,
            "tool": 9
        },
        {
            "args": "",
            "executable": "spirv-as",
            "input": 8,
            "name": "spirv-as (OpenGL SPIR-V)",
            "output": 7,
            "tool": 11
        },
        {
            "args": "",
            "executable": "spirv-dis",
            "input": 7,
            "name": "spirv-dis (OpenGL SPIR-V)",
            "output": 8,
            "tool": 12
        }
    ],
    "ShaderViewer_FriendlyNaming": true,
    "TemporaryCaptureDirectory": "",
    "TextureViewer_PerTexSettings": true,
    "TextureViewer_PerTexYFlip": false,
    "TextureViewer_ResetRange": false,
    "TextureViewer_ShaderDirs": [
    ],
    "Tips_HasSeenFirst": false,
    "UIStyle": "RDDark",
    "UnsupportedAndroid_LastUpdate": "2015-01-01T00:00:00.000",
    "rdocConfigData": 1
}
