[Desktop Entry]
Name=Android Emulator
Exec=emulator -avd android34 -accel on -cores 6 -gpu host -use-host-vulkan -memory 8192 -skin 1080x2340
Icon=distributor-logo-android
