(
    charge_control_end_threshold: 60,
    disable_nvidia_powerd_on_battery: true,
    ac_command: "",
    bat_command: "",
    platform_profile_linked_epp: true,
    platform_profile_on_battery: Quiet,
    change_platform_profile_on_battery: true,
    platform_profile_on_ac: Quiet,
    change_platform_profile_on_ac: false,
    profile_quiet_epp: Power,
    profile_balanced_epp: Power,
    profile_custom_epp: Power,
    profile_performance_epp: Power,
    ac_profile_tunings: {
        Performance: (
            enabled: false,
            group: {},
        ),
        Balanced: (
            enabled: false,
            group: {},
        ),
        Quiet: (
            enabled: false,
            group: {},
        ),
    },
    dc_profile_tunings: {
        Quiet: (
            enabled: false,
            group: {},
        ),
        Performance: (
            enabled: false,
            group: {},
        ),
        Balanced: (
            enabled: false,
            group: {},
        ),
    },
    armoury_settings: {},
)
